*{
    box-sizing: border-box;
    font-family: arial;
}
h3{
    font-weight: normal;
}
body{
    font-family: arial;
    margin: 0;
    padding: 0;
    background-image: url(images/bg-login.png);
}
/* Side Navigation Bar */
.nav_side {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 100;
    background-color: #FDBF50;
    padding: 20px 0 0 10px;
    box-shadow: 5px 10px 8px #888888;
}
.nav_side #logo{
    height: 140px;
    position: relative;
    left: 40px;
}
.nav_side a{
    position: relative;
    font-size: 18px;
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
}


/* Navigation side hover */
.nav_side #hover1:hover{
    background-color: #FF724C;
    width: 100px;
    border-radius: 10px;
}
.nav_side #hover2:hover{
    background-color: #FF724C;
    width: 120px;
    border-radius: 10px;
}
.nav_side #hover3:hover{
    background-color: #FF724C;
    width: 180px;
    border-radius: 10px;
}

.nav_side-2{
    position: relative;
    left: 30px;
    line-height: 1.5;
}
.nav_side-2 #dashboard{
    background-color: #FF724C;
    width: 100px;
    border-radius: 10px;
    
}

.nav_side-3{
    position: relative;
    left: 30px;
    line-height: 1.5;
}
.copyright h3, p{
    line-height: 0.2;
    position: relative;
    top: 70px;
}
/* Top Navigation */
.nav_top{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 20px 10px 20px 260px;
    background-color: #ffcb71f3;
}

/* Search Bar */
.search {
    position: relative;
    display: flex;
  }
  /* This is the input */
  .searchTerm {
    width: 100%;
    border: 3px solid #FF724C;
    border-right: none;
    padding: 5px;
    height: 36px;
    outline: none;
    border-radius: 20px 0 0 20px;
    /* Changes color when clicked the submit */
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #000000;
  }
  /* Search Button */
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #FF724C;
    background: #FF724C;
  
    color: #fff;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
      /* searchbar width */
    width: 300px; 
    position: absolute;
  }
.nav_top .user{
    display: flex;
    float: right;
    position: relative;
    right: 50px;
    gap: 20px;
}
.user .fa-user{
    font-size: 40px;
}
.user .fa-user:hover{
    cursor: pointer;
    color: #FF724C;
}
.user h3{
    font-size: 20px;
    margin: 10px;
}
.user .fa-bell{
    font-size: 20px;
}
.user .fa-bell:hover{
    cursor: pointer;
    color: #FF724C;
}

/* Statistics and Data */
.content{
    height: 900px;
    position: relative;
    top: 110px;
    margin-left: 270px;
}
.content-1{
    display: inline-flex;
    gap: 15px;
}
.content-2{
    display: inline-flex;
    position: relative;
    top: 20px;
    column-gap: 15px;

}


.revenue{
    position: relative;
    height: 500px;
    width: 830px;
    padding: 15px;
    box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.41);
    border-radius: 10px;
    background-color: #FFFF;
}
#dashboard-img-1{
    height: 270px;
    position: relative;
    left: 20px;
}
.revenue h3{
    margin: 10px;
}
.order{
    position: relative;
    height: 500px;
    width: 450px;
    padding: 15px;
    box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.41);
    border-radius: 10px;
    background-color: #FFFF;
}
#dashboard-img-2{
    height: 270px;
    position: relative;
    top: 80px;
}
.ratings{
    position: relative;
    height: 300px;
    width: 410px;
    padding: 15px;
    box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.41);
    border-radius: 10px;
    background-color: #FFFF;
}
#dashboard-img-3{
    height: 200px;
    position: relative;
    left: 20px;
}
.most-order{
    position: relative;
    height: 300px;
    width: 405px;
    padding: 15px;
    box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.41);
    border-radius: 10px;
    background-color: #FFFF;
}
#dashboard-img-4{
    height: 200px;
    position: relative;
    left: 20px;
}
.most-popular{
    position: relative;
    height: 300px;
    width: 450px;
    padding: 15px;
    box-shadow: 0px 5px 21px -5px rgba(0,0,0,0.41);
    border-radius: 10px;
    background-color: #FFFF;
}
#dashboard-img-5{
    height: 200px;
    position: relative;
    left: 20px;
}


