	*{
		font-family: arial;
		box-sizing: border-box;
/*	colors: 
			#FF724C redorange for hover

			#FDBF50 yellow for navigation and icons

			#F4F4F8 white for background
			
			#2A2C41	dark blue for additional touches*/
	}
	body{
		margin: 0;
		padding: 0;
		background-image: url(images/bg-main.png);
		background-repeat: repeat-x;
	}

/* Navigation Bar	---------------*/

	.navbar{
		height: 100px;
		width: 100vw;
		padding: 20px 20px 0 20px;
		box-sizing: border-box;
		position: fixed;
		background-color: #FDBF50;
		box-shadow: 5px 10px 8px #888888;
		z-index: 1;
	}
	#navbar-logo-1{
		height: 70px;
		float: left;
	}
	.navbar-profile{
		position: relative;
		float: right;
		display: inline-flex;

	}
	#navbar-pfp-1{
		height: 60px;
	}

	.navbar-list, .profile-login-ul{
		list-style-type: none;;
		padding: 10px 20px 0 20px;
		display: inline-flex;
		gap: 30px;
	}
	.navbar-list a, .profile-login-ul a{
		font-size: 20px;
		text-decoration: none;
		color: black;
		border-radius: 10px;
		transition: background-color 0.3s ease-in;
	}
	.navbar-list a:hover, .profile-login-ul a:hover{
		color: black;
		background-color: #FF724C;
		height: 20px;
		width: 50px;
	}

	/* Search Bar */
	.search {
		position: relative;
		display: flex;
		left: 700px;
		bottom: 50px;
	  }
	  /* This is the input */
	  .searchTerm {
		width: 100%;
		border: 3px solid #FF724C;
		border-right: none;
		padding: 5px;
		height: 36px;
		outline: none;
		border-radius: 20px 0 0 20px;
		/* Changes color when clicked the submit */
		color: #9DBFAF;
	  }
	  
	  .searchTerm:focus{
		color: #000000;
	  }
	  /* Search Button */
	  .searchButton {
		width: 40px;
		height: 36px;
		border: 1px solid #FF724C;
		background: #FF724C;
	  
		color: #fff;
		border-radius: 0 20px 20px 0;
		cursor: pointer;
		font-size: 20px;
	  }
	  
	  /*Resize the wrap to see the search bar change!*/
	  .wrap{
		  /* searchbar width */
		width: 300px; 
		position: absolute;
	  }

/*	Slides --------------*/

	.slideshow{
		height: 900px;
		width: 100vw;
		box-sizing: border-box;
		padding: 30px;
		position: relative;
	}
	.mySlides {
		display: none;
	}

	.slideshow-container {
		width: 1000px;
		position: relative;
		top: 80px;

	}

	.slideshow-boxshadow{
		position: relative;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		align-content: center;
		left: 250px;
		border-radius: 80px;

	}
	.slideshow-boxshadow img{
		width: 100%;
		border-radius: 80px;
	}

	/* Next & previous buttons */
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: black;
		background-color: #FF724C;
		opacity: 0.4;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.prev:hover, .next:hover {
		background-color: #FF724C;
		opacity: 1	;
	}


	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
		position: relative;
		top: 80px;
	}

	.active, .dot:hover {
		background-color: #717171;
	}

	/* Fading animation */
	.fade {
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

/* About Us	---------------------*/
	.about{
		height: 750px;
		width: 100vw;
		box-sizing: border-box;
		padding: 30px;
	}
	.about-boxshadow{
		position: relative;
		box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		align-content: center;
		height: 500px;
		width: 1300px;
		padding: 30px;
		left: 100px;
		border-radius: 80px;
		background-color: white;
	}
	#about-text{
		font-size: 50px;
		position: relative;
		text-align: center;
	}
	#about-text2{
		font-size: 25px;
		text-align: justify;
		position: relative;
		width: 800px;
	}
	#about-logo{
		height: 300px;
		position: relative;
		left: 70%;
		bottom: 340px;
	}

/* Gallery	*/
		/* First Gallery	*/
	.gallery{
		height: 800px;
		width: 100vw;
		box-sizing: border-box;
		padding: 20px;
		display: flex;
		justify-content: space-between;
	}
	.gallery-align{
		width: 1500px;
		height: 600px;
		box-sizing: border-box;
		padding: 50px;
		display: flex;
    	justify-content: space-between;
    	border-radius: 60px;
    	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: white;

    }
	.gallery-align #text{
		position: absolute;
		font-size: 50px;
		width: 1500px;
		display: flex;
		justify-content: center;
		text-align: center;
		right: 30px;
	}
    .gallery-align div{
    	position: relative;
    	top: 100px;
    	justify-items: center;
    	background-color: #FDBF50;
    	height: 400px;
    	width: 250px;
    	border-radius: 20px;
    	scale: 1;
    	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    	transition: scale 1s;

    }
    .gallery-align div:hover{
    	scale: 1.1;
    	cursor: pointer;
    	background-color: #FF724C;
    }
	#gallery-img-1, #gallery-img-2, #gallery-img-3,  #gallery-img-4, #gallery-img-5{
		position: relative;
		height: 230px;
		top: 30px;
		border-radius: 20px;
	}

	.gallery-align div > h3{
		font-size: 20px;
		width: 200px;
		text-align: center;
		position: relative;
		top: 30px;
	}

/* Review --------------------------	*/
	.review{
		height: 800px;
		width: 100vw;
		box-sizing: border-box;
		padding: 20px;
	}
	.review-boxshadow{
		width: 1500px;
		height: 650px;
		position: relative;
		left: 20px;
		padding: 50px;
		display: flex;
    	justify-content: space-between;
    	border-radius: 60px;
    	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: white;

	}
	.review-align{
		width: 1350px;
		display: flex;
		justify-content: space-between;
		padding: 30px;
		position: relative;
		top: 100px;
		left: 40px;
	}

	#review-text-0{
		font-size: 50px;
		width: 1500px;
		position: absolute;
		display: flex;
		justify-content: center;
		right: 20px;

	}

	#review-img-1, #review-img-2, #review-img-3{
		height: 180px;
		position: relative;
		left: 25px;
		
	}
	
	#review-text{
		font-size: 15px;
		width: 300px;
		position: relative;
	}
	#review-star-1, #review-star-2, #review-star-3{
		height: 40px;
		position: relative;
		left: 10px;

	}

	#review-star-2{
		position: relative;
		top: 45px;
	}
	#review-star-3{
		position: relative;
		top: 70px;
	}

/* Youtube and Maps	*/
	.yt_maps{
		height: 900px;
		width: 100vw;
		box-sizing: border-box;
		padding: 20px;
		display: inline-flex;
	}
	.yt_maps-bordershadow{
		width: 1500px;
		height: 700px;
		position: relative;
		left: 20px;
		padding: 50px;
		display: flex;
    	justify-content: space-between;
    	border-radius: 60px;
    	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: white;

	}
	.yt_maps-bordershadow #text{
		position: absolute;
		font-size: 50px;
		display: flex;
		justify-content: center;
		width: 1500px;
		right: 20px;
	}
	.youtube{
		position: relative;
		left: 20px;
		top: 120px;
	}


	.youtube2{
		position: relative;
		top: 120px;
		left: 15px;
	}


	/*	maps */
	.map-bordershadow{
		width: 1500px;
		height: 700px;
		position: relative;
		left: 40px;
		padding: 50px;
		display: flex;
    	justify-content: space-between;
    	border-radius: 60px;
    	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: white;
	}

/* Contacts	*/
	.contact{
		height: 500px;
		width: 100vw;
		box-sizing: border-box;
		padding: 50px;
	}
	.contact-boxshadow{
		width: 1500px;
		height: 400px;
		position: relative;
		padding: 50px;
		display: flex;
    	justify-content: space-between;
    	border-radius: 60px;
    	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: white;

	}
	.contact-align{
		display: flex;
		justify-content: space-between;
		padding: 20px;
		width: 1500px;
		position: relative;
		top: 70px;
	}
	#contact-text-0{
		text-align: center;
		position: absolute;
		text-align: center;
		width: 1500px;
		right: 20px;
	}
	#contact-text{
		position: relative;
		width: 200px;
		font-size: 20px;
	}
	#contact-img-1, #contact-img-2, #contact-img-3, #contact-img-4{
		height: 70px;
		position: relative;
		left: 40px;
	}

/* Socials	*/
	.social{
		height: 80px;
		width: 100vw;
		box-sizing: border-box;
		padding: 20px;
		font-size: 35px;
	}
	.social-online{
		display: flex;
		gap: 40px;
		justify-content: center;
	}
	i{
		cursor: pointer;
	}

/* Footer	*/
	.footer{
		height: 5vh;
		width: 100vw;
		position: relative;
		background-color: #FDBF50	;
	}
	#footer-text{
		text-align: center;
	}

